.social-one {
    width: 2.8%;
    margin-right: 9px;
}

.social-two {
    width: 2.8%;
}

.social-three {
    margin-left: 4px;
    width: 2.8%;
}


@media screen and (max-width: 768px){
    .social-one {
        width: 10%;
    }
    .social-two {
        width: 10%;
    }
    
    .social-three {
        width: 10%;
    }
}