.info {
    text-align: center;
    margin-top: 260px;
    font-family: Didot, serif;
    margin-bottom: 180px;
}

.corbin {
    font-size: 100px;
    font-family: Snell Roundhand, cursive;
}

.description {
    font-size: 20px;
}