li {
    list-style: none;
}

.music-title {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 50px;
}

.card {
    margin: 20px;
}

.musics {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-header {
    background-color: white;
}

.card-body {
    background-color: white;
}

.card-footer {
    background-color: white;
}

.album-images {
    border-radius: 2em;
}

.home-link {
    padding: 7px;
    padding-top: 100px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: #FE7F9B;
    font-size: 19px;
}