li {
    list-style: none;
}

.music-title {
    text-align: center;
    padding-top: 30px;
    font-size: 60px;
}

.music-description {
    text-align: center;
    padding-bottom: 40px;
    font-size: 17px;
}

.card {
    margin: 20px;
}

.musics {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-header {
    background-color: white;
    font-style: oblique;
    font-weight: bold;
    font-size: 26px;
}

.card-body {
    background-color: white;
    
}

.card-footer {
    background-color: white;
    color: #FE7F9B;
    font-size: 15px;
    font-style: italic;
}

.album-images {
    border-radius: 2em;
}

.home-link {
    padding: 7px;
    margin-top: 100px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: #FE7F9B;
    font-size: 19px;
    font-weight: bolder;
}