.youtube-title {
    text-align: center;
    padding-top: 30px;
    font-size: 100px;
    font-family: Snell Roundhand, cursive;
}

.youtube-description {
    padding-top: 20px;
    text-align: center;
    font-size: 17px;
}

.icon {
    width: 5%;
}

a { 
    color: #FE7F9B;
    font-weight: bold;
}

.youtube-description a:hover {
    text-decoration: underline;
    color: #FD7094;
}

.youtube-video {
    text-align: center;
    font-size: 30px;
    padding-top: 100px;
}


@media screen and (max-width: 768px){
    .youtube-title {
        font-size: 90px;
    }
}